.bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 480px;
    position: relative;
    overflow: hidden;
    gap: 24px;
    padding: 40px;
    border-radius: 10px;
    background: #1a1a1a;
    border-width: 1px;
    border-color: #262626;
    margin-right: 30px;
}

.Rivewbg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    height: 50%;
    width: 480px;
    position: relative;
    overflow: hidden;
    gap: 24px;
    padding: 40px;
    border-radius: 10px;
    background: #1a1a1a;
    border-width: 1px;
    border-color: #262626;
    margin-top: -30px;
    margin-right: 30px;
}

.title {
    flex-grow: 0;
    flex-shrink: 0;
    width: 336px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
