.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 80px 60px;
  border-radius: 12px;
  background: #0f0f0f;
  border: 1px solid #262626;
  margin: 50px 105px 0;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}

.text {
  align-self: stretch;
  width: 911px;
}

.largeText {
  font-size: 3vh;
  font-weight: 700;
  text-align: left;
  color: #fff;
  width: 100%;
}

.smallText {
  font-size: 1.7vh;
  font-weight: 400;
  text-align: left;
  color: #999;
  width: 100%;
}

.actionButton {
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid #262626;
  background: #e50000;
  align-self: center;
  cursor: pointer;
}

.actionText {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
