.date {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 10px;
    /* display: inline-block; */
}

.date > p {
    margin-top: 0px;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    width: 336px;
    font-size: 16px;
    font-weight: 600;
    /* text-align: left; */
    color: rgb(255, 255, 255);
}

.date__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    position: relative;
    gap: 8px;
    margin-bottom: 1rem;
}

input {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    padding: 1rem;
    gap: 10px;
    border-radius: 6px;
    background: #141414;
    border: 1px solid #262626;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.date__content svg {
    width: 20px;
    height: 20px;
    position: relative;
}

.date__content p {
    flex-grow: 1;
    width: 314px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #999;
}

input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1); /* 달력 아이콘을 흰색으로 변경 */
}
