.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #1a1a1a;
    color: #fff;
    position: fixed; /* position을 fixed로 변경하여 전체 화면을 덮도록 설정 */
    top: 0;
    left: 0;
    z-index: 9999; /* 다른 콘텐츠 위에 표시되도록 z-index 설정 */
}

.errorContainer h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.errorContainer p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.goBackButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #e50000;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}
