.language {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 10px;
}

.language__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 8px;
}

.language__content svg {
    flex-grow: 0;
    flex-shrink: 0;
    width: 20;
    height: 20;
    position: relative;
}

.language__content p {
    flex-grow: 1;
    width: 314px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #999;
}

.language__btn-group {
    display: flex;
    /* button 추가 시 유연하게 버튼 추가 가능 */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 10px;
}

.language__btn-group button {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: #141414;
    border: 1px solid #262626;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.language__btn-group button:active {
    background-color: #262626;
    border: 1px solid red;
    transition: all 0.3s ease;
}
