/* Layout.module.css */

.layout {
  display: flex;
  justify-content: space-evenly; /* 요소의 거리 비율을 유지하며 양 끝으로 배치 */
  align-items: flex-start; /* 요소들을 상단에 정렬 (start -> flex-start로 변경) */
  margin: 100px 30px 0 30px;
}

.MainPageverticalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ReviewPageverticalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -120px;
}
