.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  height: 690px;
  overflow: hidden;
  gap: 24px;
  padding: 40px;
  border-radius: 12px;
  background: linear-gradient(to top, #141414 0%, rgba(20, 20, 20, 0) 20%);
  margin: auto; /* 페이지 가운데로 이동 */
}

.video {
  width: 1270px;
  height: 709px;
  margin-top: 20px;
  border-radius: 20px;
  object-fit: cover; /* 이미지를 컨테이너에 맞게 조정 */
  object-position: center; /* 이미지를 가운데 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* 텍스트 위로 이미지가 나타나도록 함 */
}

.leftButton,
.rightButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.leftButton {
  left: 20px;
}

.rightButton {
  right: 20px;
}

.controlButtons {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 10px;
  z-index: 1;
}

.playPauseButton,
.muteUnmuteButton {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.svgIcon {
  width: 24px;
  height: 24px;
  fill: white;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  gap: 2px;
  padding: 0 100px;
  z-index: 1;
  margin-top: auto;
  margin-bottom: 20px; /* 글씨를 영상 아래로 배치 */
  opacity: 0; /* 글씨를 투명하게 */
  transition: opacity 0.5s ease;
}

.contentWrapper.showText {
  opacity: 1; /* 멈췄을 때 글씨를 보이게 */
}

.heading {
  align-self: stretch;
  width: 1000px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.subheading {
  align-self: stretch;
  width: 1000px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 14px 20px;
  border-radius: 8px;
  background: #e50000;
  cursor: pointer;
  margin-bottom: 50px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.buttonText {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #fff;
}

.buttonTextLink {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  text-decoration: none;
}
