/* Navbar.module.css */

/* 기존 스타일 */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed; /* 상단에 고정 */
    top: 0;
    left: 0;
    padding: 0 2vw;
    background-color: rgba(20, 20, 20, 0.9); /* 배경색 추가 및 반투명도 설정 */
    z-index: 99;
    height: 12vh;
    transition: background-color 0.3s ease, font-size 0.3s ease; /* 배경색 전환 효과 및 폰트 크기 전환 효과 */
}

.container.scrolled {
    background-color: rgba(20, 20, 20, 0.9); /* 스크롤 시 반투명도 설정 */
}

.logoContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 100px;
}

.logoContainer a {
    display: flex;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
}

.logoSVG {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
}

.logoContainer > a > p {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    flex: 1;
    min-width: 100px;
}

.desktopMenu {
    display: flex;
    gap: 1vw;
    align-items: center; /* 추가: 아이템들을 세로 가운데 정렬 */
}

.menuSVG {
    display: inline-block;
    width: 24px; /* 적절한 크기로 설정 */
    height: 24px; /* 적절한 크기로 설정 */
    fill: currentColor; /* 아이콘 색상 설정 */
    vertical-align: middle; /* 추가: 아이콘을 텍스트와 수직 가운데 정렬 */
}

.noticeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
}

.noticeContainer__element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 0.5vh 2vw;
    border-radius: 10px;
    background: #0f0f0f;
    border: 0.3vh solid #1f1f1f;
    flex-wrap: nowrap; /* 줄 바꿈 방지 */
    overflow-x: auto; /* 내용이 넘칠 경우 스크롤 허용 */
}

.noticeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 1.6vh 2vw;
    border-radius: 8px;
    color: #fff;
    font-size: 1.4vh;
    font-weight: 500;
    text-align: center;
    text-decoration: none; /* 링크 기본 스타일 제거 */
    transition: all 0.5s ease;
    background: transparent;
    border: 0px solid #1a1a1a;
    flex: 1 1 auto;
}

.noticeItem.active {
    background: #262626;
}

.noticeItem:hover {
    background-color: #262626;
}

.noticeItemText {
    font-size: 1.1rem;
    text-align: center;
    color: #bfbfbf;
    font-weight: 500;
}

.button {
    background: #0f0f0f;
    border: 2px solid #262626;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    padding: 0.6rem;
    cursor: pointer;
}

.searchIcon {
    display: inline-block;
    width: 24px; /* 적절한 크기로 설정 */
    height: 24px; /* 적절한 크기로 설정 */
    fill: currentColor; /* 아이콘 색상 설정 */
}

.hamburgerMenu {
    display: none; /* 기본으로 숨기기 */
    cursor: pointer;
    font-size: 2rem; /* 햄버거 메뉴 아이콘 크기 */
    color: #fff;
}

.mobileMenu {
    display: none;
}

.mobileMenu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12vh; /* 상단바 아래에 위치 */
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.9);
    z-index: 98;
}

.mobileMenu a {
    padding: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #333;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 1200px) {
    .container {
        font-size: 0.9rem;
    }
    .logoText {
        display: none; /* 로고 텍스트 숨기기 */
    }
    .desktopMenu {
        display: none; /* 로그인, 회원가입, 검색 아이콘 숨기기 */
    }
    .hamburgerMenu {
        display: block !important; /* 햄버거 메뉴 아이콘 표시 */
    }
}

@media (max-width: 800px) {
    .container {
        font-size: 0.7rem;
    }
    .noticeContainer {
        min-width: 15vw; /* 최소 너비를 줄여서 작아지도록 설정 */
    }
    .noticeContainer__element {
        gap: 0.5vw; /* 요소 간격을 줄여서 작아지도록 설정 */
        padding: 0.25vh 1vw; /* 패딩을 줄여서 작아지도록 설정 */
    }
    .noticeItem {
        padding: 0.8vh 1vw; /* 아이템 패딩을 줄여서 작아지도록 설정 */
        font-size: 1.2vh; /* 아이템 폰트 크기를 줄여서 작아지도록 설정 */
    }
    .noticeItemText {
        font-size: 0.9rem; /* 텍스트 폰트 크기를 줄여서 작아지도록 설정 */
    }
}
.mobileMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 12vh; /* 상단바 아래에 위치 */
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.9);
    z-index: 98;
    padding: 1rem;
}

.mobileMenu.open {
    display: flex;
}

.mobileMenu button,
.mobileMenu a {
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px solid #333;
    padding: 1rem;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.mobileMenu hr {
    width: 100%;
    border: 0.5px solid #333;
}
