html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 수평 스크롤 방지 */
    padding-top: 100px; /* 고정된 요소의 높이만큼 여백 추가 */
}

/* 페이지 별 padding-top */
.mianPagePaddingTop {
    padding-top: 100px;
}

/* CSS: 반응형 디자인을 위한 @media 쿼리 */
@media (max-width: 600px) {
    .logoContainer {
        width: 120px; /* 더 작은 화면에 맞게 조정 */
        height: auto;
    }
    .logoText {
        font-size: 1.5rem; /* 고정된 글씨 크기 */
    }
}

@media (max-width: 870px) {
    .noticeContainer {
        padding: 5px 12px;
    }

    .noticeItem a {
        padding: 8px 13px;
    }
}

/* 고정된 font-size */
.logoText {
    font-size: 1.7rem; /* 고정된 글씨 크기 */
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    position: fixed; /* 상단에 고정 */
    top: 0;
    left: 0;
    padding: 0px 30px; /* padding 조정 */
    background-color: rgba(20, 20, 20, 0.9); /* 배경색 추가 및 반투명도 설정 */
    z-index: 1000; /* 다른 요소들보다 앞에 오게 설정 */
    height: 18vh; /* 고정된 요소의 높이 설정 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.container.scrolled {
    background-color: rgba(20, 20, 20, 0.5); /* 스크롤 시 반투명도 설정 */
}

.logoContainer {
    width: 138px;
    height: 50px;
    position: relative;
}

.logoSVG {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

.logoText {
    position: absolute;
    left: 67px;
    top: 10px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.menuContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.menuSVG {
    width: 24px;
    height: 24px;
}

.noticeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 5px 30px;
    border-radius: 10px;
    background: #0f0f0f;
    border: 3px solid #1f1f1f;
}

.noticeItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 16px 26px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    text-decoration: none; /* 링크 기본 스타일 제거 */
    transition: all 0.5s ease;
    background: transparent;
    border: 0px solid #1a1a1a;
}

.noticeItem.active {
    background: #262626;
}

.noticeItem:hover {
    background-color: #262626;
}

.noticeItemText {
    font-size: 14px;
    text-align: left;
    color: #bfbfbf;
    font-weight: 500;
}
