/* src/css/Notice.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    gap: 25px;
    border-radius: 10px;
    background: #1a1a1a;
    margin-right: 30px;
    margin-left: 30px;
    border: 1px solid #262626;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 2rem;
    border-radius: 10px;
    max-width: 60vw;
    min-width: 60vw;
    height: auto; /* 높이를 자동으로 조정 */
    overflow: hidden;
}

.box.full-width {
    max-width: 100vw;
}

.text-block {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 10px;
    max-width: 100%;
}

.text-block.title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin: 10px;
}

.text-block.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-block.multi-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 두 줄까지 표시하고 그 이후는 생략 부호로 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* 줄 바꿈 허용 */
}

@media (max-width: 768px) {
    .text-block {
        font-size: 14px;
        margin: 5px;
    }

    .text-block.title {
        font-size: 20px;
        margin: 5px;
    }

    .box {
        padding: 1rem;
        height: auto; /* 작은 화면에서도 높이를 자동으로 조정 */
        width: 90vw;
    }

    .box.full-width {
        max-width: 100vw;
        min-width: 100vw;
    }
}
