.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 10px;
}

.title__group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 8px;
}

.title__group p {
    font-size: 16px;
    font-weight: 500;
    color: #999;
}

.ott-button__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
    margin-top: 1rem;
}

button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 10px;
    padding: 6px 12px;
    border-radius: 6px;
    background: #141414;
    border: 1px solid #262626;
    cursor: pointer;
}

button:active,
button.active {
    background-color: #262626;
    border: 1px solid red;
    transition: all 0.3s ease;
}
