/* src/css/ReviewText.module.css */

.button {
    gap: 4px;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    background: #e50000;
    border: 1px solid #262626;
    margin-right: 60px;
    text-decoration: none; /* 링크 밑줄 제거 */
    font-family: 'Noto Sans KR', sans-serif;
}

.buttonText {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #fff;
}

.title {
    flex-grow: 1;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    margin: 0px 0px 0px 60px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 30px;
    margin-top: 1.3rem;
}
