/* src/css/ReviewPageRating.module.css */

.rating__starBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202020;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #262626;
}

.rating__starBtn__elements-group {
    display: flex;
    align-items: center;
}

.rating__starBtn__stars {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.rating__starBtn__text {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.container {
    margin-right: 60px;
    margin-left: 30px;
    height: 150vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: #1a1a1a;
    padding: 40px 40px 10px 40px;
    border-radius: 15px;
    overflow: hidden;
}

.genreContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px; /* 장르와 제목 사이의 간격 */
}

.genre {
    font-size: 18px;
    font-weight: 500;
    color: rgb(224, 90, 50);
    margin-left: 30px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 30px;
}

.title {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-left: 30px;
    color: #fff;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 16px;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 20px;
    width: 55vw;
}

.contentText {
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    text-align: left;
    color: rgb(180, 180, 180);
    margin-top: -15px;
}

.boldText {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
}

.reviewTitleContainer {
    width: 350px;
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* 별점과 삭제 버튼 사이의 간격 */
}

.deleteButton {
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.deleteButton:hover {
    background: #cc0000;
}

.error {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}
