.root {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(76, 76, 76);
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

::-webkit-scrollbar-track {
    background-color: rgba(45, 45, 45);
    border-radius: 10px;
    /* box-shadow: inset 0px 0px 5px white; */
}
