/* src/css/Sort.module.css */

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 24px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    gap: 10px;
}

.filterContainer {
    display: flex;
    gap: 2px;
}

.icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.filterLabel {
    flex-grow: 1;
    width: 310px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #999;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
}

.button {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0.7rem 1rem;
    border-radius: 6px;
    background: #141414;
    border: 1px solid #262626;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}
.button:active {
    background-color: #262626;
    border: 1px solid red;
    transition: all 0.3s ease;
}
