/* src/css/UpcomigReleases.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 25px;
    padding: 40px;
    border-radius: 10px;
    background: #1a1a1a;
    border: 1px solid #262626;
    margin-right: 30px;
    margin-left: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 30px;
}

.title {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #999;
}

.iconContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.roundButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #141414;
    border: 1px solid #262626;
    cursor: pointer;
}
.roundButton:hover {
    background-color: #262626;
}
.roundButton:active {
    background-color: #262626;
    border: 1px solid red;
    transition: all 0.3s ease;
}

.svgIcon {
    width: 20px;
    height: 20px;
}

.contentBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    gap: 16px;
    padding: 30px;
    border-radius: 12px;
    background: #0f0f0f;
    border: 1px solid #262626;
}

.contentText {
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    text-align: left;
    color: #999;
}

.boldText {
    width: 710px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.poster {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}
