.Upcoming__title {
    flex-grow: 1;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    margin-left: 60px;
}

.Upcoming__cotent-container {
    display: flex;
    margin: 0 60px;
    justify-content: center;
}

.Upcoming__content-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
}

.Upcoming__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 10px;
    background: #1a1a1a;
    border: 1px solid #1f1f1f;
    text-decoration: none;
}

.Upcoming__content > div > h2 {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: left;
    color: #fff;
    margin-top: 1rem;
}

.Upcoming__content > div > p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin-top: 0.2rem;
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    width: 80%;
    max-width: 800px;
    z-index: 1000;
    color: #fff;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

.ModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ModalContent iframe {
    width: 100%;
    height: 315px;
}

.ModalContent p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.ModalCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
